@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background: #212529;
  color: rgba(255,255,255,0.87);
  font-family: 'Rubik', sans-serif;
}

a {
  color: #a5d8ff;
  text-decoration: underline;
}
